footer {
    ul{
        list-style-type: none;
        li{
            a{
                color:green;
                &:visited{
                    color:red;
                }
                &:hover{
                    color:aqua;
                }

            }
        }
    }
}